.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 216, 216);
  height: 50px;
}

.header-icon {
  margin-right: 10px;
  color: #333; /* Adjust icon color as needed */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; /* Adjust text color as needed */
}
.footer {
  position: fixed;
  margin-top: 2rem;
  width: 100%;
  bottom: 0;
  background-color: rgb(255, 216, 216);
  color: #333;
  padding: 0.5rem;
text-align: center;
  /* Accessibility features */
  font-size: 16px; /* Adjust for readability */
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.about-features {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.about-features li {
  margin-bottom: 0.5rem;
}

.contact-info {
  font-style: italic;
  margin-top: 1rem;
}
.navbar-expand .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around !important;
  text-align: center;
}